.badge-danger {
    background-color: #d43f3a;
}

.badge-warning {
    background-color: #d58512;
}

.badge-success {
    background-color: #398439;
}

.badge-info {
    background-color: #269abc;
}

.badge-inverse {
    background-color: #333333;
}
.j-border-none{
    border: none;
}
.j-background-none{
    background:none;
}
.j-full-width{
    width: 100%;
}
.text-right {text-align: right}
.text-left {text-align: left}
.text-center {text-align: center}
/*body{
    background: #F3F3F5;
    .container{
        background: #FFF;
        .j-data{
            background: #eaeaea;
            border: 1px solid #306086;
            border-top:none;
            padding: 0 10px;
            .j-data-header{
                background: #306086;
                margin: 0 -10px 10px;
                h2{
                    color: #FFF;
                    margin: 8px;
                }
            }
            .j-row-data{
                img{
                    border: 5px solid #fff;
                    margin-right: 8px;
                    ~ p{
                        text-align: center;
                    }
                }

            }
            hr{
                height: 1px;
                border: 0;
                color: #d3d3d3;
                background-color: #d3d3d3;
            }
        }
        .j-title{
            h1{
                margin: 0;
            }
            p{
                margin: 5px 5px 5px 10px;
            }
        }
        footer{            
            background: #FFF;
        }
    }
    .j-content{
        background: #FFFFFF;
        .btn-brand{ 
            display: inline-block;
            padding:30px;           
            color: #FFF;
            text-decoration: none;
            background: #306086;
            &:hover{}
            &:active{background: #ED1C24;}
            .active{ 
                border: 1px solid orange; 
                color: orange;
            }
        }
    }
}
h1 {
    color: #3a698f;
    font-size: 25px;
}
h2{
    color: #3a698f;
    font-size: 20px;
}*/
